h3 {
    text-align: center;
}
.square {
    border-color: black;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: fixed;
    left: 50%;
    top:50%;
    transform:translate(-50%, -50%);
  
}